
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}

.thumbnail {
    background-color: #333;
    border-color: #333;
}




/* =============================================================
   HOME/VIDEO SECTION STYLES
 ============================================================ */
#home-sec {
    height:900px;
    color:#ffffff;
    text-align:center;
    border-bottom:4px solid #000;
    background: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

    #home-sec .overlay {
        background-color:rgba(0, 0, 0, 0.8);
        min-height:900px;
        opacity: 0.7;
        display:none;
    }
    #home-sec h1 {
        padding-top:250px;
        font-size:50px;
        font-weight:bold;
        padding-bottom:20px;
        font-family: 'Permanent Marker', cursive;
    }
        #home-sec h1 i {
            color:#f00;
        }
        #home-sec h3 {
            font-size: 24px;
            font-family: 'Permanent Marker', cursive;
        }
        #home-sec h2 {
            font-size: 30px;
            font-family: 'Permanent Market', cursive;
        }

/* =============================================================
   Scrollable Menu Style
 ============================================================ */

 .scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

/* =============================================================
   Footer
 ============================================================ */
.alt2
{
    background: #333;
    min-height: 150px;
    color: #fff;
    margin-top:10px;
}

/* =============================================================
   Social Media Icons
 ============================================================ */

.thumbnail img{
    opacity: 1;
}

.thumbnail img{
    opacity:0.5;
}

/* =============================================================
   Extras
 ============================================================ */

.glyphicon-circle-arrow-down{
    font-size: 4em;
}

.thumbnail{
    opacity: .5;
}

.thumbnail:hover {
    opacity: 1;
}


