
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}

.thumbnail {
    background-color: #333;
    border-color: #333;
}

.no-js #loader{ display: none;}
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #fff;
}


/* =============================================================
   HOME/VIDEO SECTION STYLES
 ============================================================ */
#home-sec {
    height:950px;
    color:#ffffff;
    text-align:center;
    border-bottom:4px solid #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

    #home-sec .overlay {
        background-color:rgba(0, 0, 0, 0.8);
        min-height:950px;
        opacity: 0.7;
        
    }
    #home-sec h1 {
        padding-top:250px;
        font-size:50px;
        font-weight:bold;
        padding-bottom:20px;
        font-family: 'Permanent Marker', cursive;
    }
        #home-sec h1 i {
            color:#f00;
        }
        #home-sec h3 {
            font-size: 24px;
            font-family: 'Permanent Marker', cursive;
        }
        #home-sec h2 {
            font-size: 30px;
            font-family: 'Permanent Market', cursive;
            font-weight: bold;
        }
        #home-sec .container button:hover{
            background-color: #1E90FF;
        }
        #home-sec a{
            text-decoration: none;
        }

/* =============================================================
    FORM STYLES
 ============================================================ */

    .jumbotron{
        background: url("../img/main-bg.jpg") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .jumbotron h3, h4{
        font-family: 'Permanent Marker', cursive;
        color: #ffffff;
    }

/* =============================================================
   Scrollable Menu Style
 ============================================================ */

 .scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

/* =============================================================
   Footer
 ============================================================ */
.alt2
{
    background: #333;
    min-height: 150px;
    color: #fff;
    margin-top:10px;
}


/* =============================================================
   Extras
 ============================================================ */

.glyphicon-circle-arrow-down{
    font-size: 4em;
}

#btn{

    background: transparent;
    color: #F2F2F2;

    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;

}

#btn:hover {
    background: #1E90FF;
}


/* =============================================================
   Social Media Icons
 ============================================================ */

.component {
    text-align: center;
}

.component h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}


.icon-cube {
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  overflow: visible;
}

.icon-cube::before,
.icon-cube::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/icons5.png");
  background-image: url("../img/icons5.svg"), none;
  content: "";
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.icon-cube::before {
  z-index: 2;
  background-color: transparent;
}

.icon-cube::after {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(48px) rotateX(-90deg);
          transform: translateY(48px) rotateX(-90deg);
}

.icon-cube:hover::before {
  opacity: 0;
  -webkit-transform: translateY(-48px) rotateX(90deg);
          transform: translateY(-48px) rotateX(90deg);
}

.icon-cube:hover::after {
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

/* facebook */
.icon-cube.facebook::before,
.icon-cube.facebook::after {
  background-position: 0 0;
  border-radius: 10px;
}

.icon-cube.facebook::after {
  background-color: #3b5998;
}

/* twitter */
.icon-cube.twitter::before,
.icon-cube.twitter::after {
  background-position: -96px 0;
  border-radius: 10px;
}

.icon-cube.twitter::after {
  background-color: #4099ff;
}

/* google plus */
.icon-cube.googleplus::before,
.icon-cube.googleplus::after {
  background-position: -192px 0;
  border-radius: 10px;
}

.icon-cube.googleplus::after {
  background-color: #d34836;
}



